<div id="welcome">
  <div class="logo-segment">
    <div id="logo"><i class="fab fa-twitter fa-2x"></i></div>
    <div id="sideLogin">
      <a href="signIn.html"><button>Log in</button></a>
    </div>
  </div>
  <h2>See What's happening in the world right now</h2>
  <br />
  <br />
  <br />
  <h4> Join twitter today</h4>
  <div id="signUp">
    <a href="signUp.html"><button> Sign up</button></a>
  </div>
  <br />
  <div id="signIn">
    <a href="signIn.html"><button> Log in</button></a>
  </div>
</div>
