<div id="welcome">
  <div class="logo-segment">
    <div id="logo"><i class="fab fa-twitter fa-2x"></i></div>
    <div id="sideLogin">
      <%= link_to new_user_session_path do %>
        <button>Log in</button>
      <% end %>
    </div>
  </div>
  <h2>See What's happening in the world right now</h2>
  <br />
  <br />
  <br />
  <h4> Join twitter today</h4>
  <div id="signUp">
    <%= link_to new_user_registration_path do %>
      <button> Sign up</button>
    <% end %>
  </div>
  <br />
  <div id="signIn">
    <%= link_to new_user_session_path do %>
      <button>Log in</button>
    <% end %>
  </div>
</div>
