
.flash {
  position: relative;
  border: 1px solid transparent;
  border-radius: .25rem;
  text-align: center;
  background-color:rgb(180, 180, 180);
}

.alert-alert {
  color: rgb(112, 10, 10);
}

.alert-info {
  color: rgb(50, 142, 241);
}